@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tasksList > li:first-of-type article {
    @apply bg-violet-600 text-slate-100;
  }
  .tasksList > li:first-of-type article .description {
    @apply text-violet-300;
  }
  .tasksList > li:first-of-type article > div {
    @apply border-violet-500;
  }
}
